h1 {
	color: brown;
	text-align: center;
}

p {
	color: #02d302;
	text-align: left;
}

div {
	background-color: teal;
	height: 300px;
	width: 400px;
	margin: 30px;
	padding: 20px;
	font-family: Arial, sant-serif;
	font-size: 20px;
	font-weight: bold;
	border: 3px solid blue;
}

table {
	border: 2px solid black;
	border-collapse: collapse;
	width: 50%;
}

th, td {
		border: 1px solid black;
		padding: 5px;
		text-align: center;
}

th {
	background-color: lightgreen;
}